window {
    background-color:seagreen;
}

#btSalir{
        background-color:red;
        color:coral;
}
#btSalir:hover,#btNuevo:hover,#btIzq:hover,#btDer:hover,#btAutoI:hover,#btAutoD:hover,#btParada:hover,#btSiguiente:hover,#btResolver:hover,#btDirecta:hover,#btZoomMas:hover,#btZoomMenos:hover,#btArriba:hover,#btAbajo:hover,#btIzquierda:hover,#btDerecha:hover{ 
        background-color:yellow;
}


#btNuevo{
        background-color:gray;
        color:black;
}

#tbPol,#tbPrecision{
	background-color:mediumaquamarine;
	font-size:23px;
	margin-top:10px;
	margin-bottom:20px;
}

#lbMensajes{
	background-color:mediumseagreen;
	font-size:23px;
}

#lbPol,#lbPrecision{
	font-size:23px;
	font-style:italic;
	text-decoration:underline;
	padding-top:20px;
}

#lbPrecision{
	padding-right:130px;
}
#tbPrecision{
	
	margin-right:60px;
	padding-right:30px;
	
}
#daGrafico{
}

#lbX,#lbY,#lbNuevax,#lbM{
	background-color:mediumaquamarine;
	font-size:19px;
	font-weight:bold;
	margin-right:20px;
}
#lbVx,#lbVY,#lbVnuevax,#lbVm,#lbZoom{
	font-size:23px;
	text-decoration:underline;
	font-style:italic;
	margin-right:15px;
	margin-top:10px;
}
#lbRotuloDerivada,#lbIteraciones{
	font-size:23px;
	text-decoration:underline;
	font-style:italic;
}
#lbIteraciones{
	margin-right:220px;
}
#lbDerivada{
	background-color:mediumaquamarine;
	font-size:19px;
	font-weight:bold;
	margin-right:20px;
	margin-top:15px;
}

#btIzq{
	background-color:DarkOrchid;
	font-size:23px;
	color:indigo;
}


#btDer{
	background-color:DarkBlue;
	font-size:23px;
	color:dodgerblue;
}

#btDirecta{
	background-color:lime;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-left:60px;
	margin-right:60px;
	margin-top:10px;
}
#btDirecta:active,#btIzq:active,#btAutoI:active,#btAutoD:active,#btParada:active,#btSiguiente:active,#btDer:active,#btSalir:active,#btNuevo:active,#btZoomMas:active,#btZoomMenos:active,#btArriba:active,#btAbajo:active,#btDerecha:active,#btIzquierda:active{
	background-color: #3e8e41;
  	box-shadow: 0 5px #666;
}

#lbRaices{
	font-size:23px;
	text-decoration:underline;	
}
#tbRaices{
	background-color:mediumaquamarine;
}

#btSiguiente{
	background-color:lightsteelblue;
	margin-bottom:10px;
	margin-left:63px;
}

#btAutoI,#btAutoD{
	background-color:chocolate;
}


#btZoomMas,#btZoomMenos{
	font-size:29px;
	margin-top:20px;
	background-color:SteelBlue;
	color:Navy;
	margin-bottom:15px;
}
#btZoomMenos{
	margin-left:30px;
}

#btZoomMas{
	margin-left:40px;
}

#btArriba,#btAbajo{
	margin-left:75px;
	margin-right:105px;
}
#btArriba,#btIzquierda,#btDerecha,#btAbajo{
	font-size:33px;
	background-color:steelblue;
}
#btIzquierda{
	margin-left:30px;
}
#btDerecha{
	margin-left:50px;
}

